<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpMock" version="2.3.1" targetFramework="net471" />
  <package id="HttpMock.Verify.NUnit" version="1.2.0" targetFramework="net471" />
  <package id="Kayak" version="0.7.2" targetFramework="net451" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="NUnit" version="3.12.0" targetFramework="net471" />
</packages>