<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSpec" version="0.5.0" targetFramework="net452" />
  <package id="FSpec.MbUnitWrapper" version="0.5.0" targetFramework="net452" />
  <package id="HttpMock" version="1.2.1" targetFramework="net452" />
  <package id="Kayak" version="0.7.2" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="mbunit" version="3.3.454.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
</packages>