<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstanceUrl" value="http://localhost/VersionOne"/>
    <add key="V1Username" value="admin"/>
    <add key="V1Password" value="admin"/>
    <add key="V1AccessToken" value="1.hJcIPWcXJGWwprchTmVn2KTPxb8="/>
    <add key="WinUsername" value="admin"/>
    <add key="WinPassword" value="admin"/>
    <add key="ProxyUrl" value="https://myProxyServer:3128"/>
    <add key="ProxyUsername" value="Administrator"/>
    <add key="ProxyPassword" value="12345678"/>
    <add key="ProxyDomain" value="ProxyDomain"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
