<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="VersionOne.APIClient.MimeTypes" type="VersionOne.APIClient.MimeTypesSectionHandler,VersionOne.APIClient"/>
  </configSections>
  <appSettings>
    <add key="Debug" value="false"/>
    <add key="DebugFileName" value="C:\VersionOneAPIClientDebug.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="V1Url" value="https://www14.v1host.com/v1sdktesting/"/>
    <add key="V1UserName" value="admin"/>
    <add key="V1Password" value="admin"/>
    <add key="ProxyUrl" value="https://myProxyServer:3128"/>
    <add key="ConfigUrl" value="config.v1/"/>
    <add key="ProxyUserName" value="Administrator"/>
    <add key="ProxyPassword" value="12345678"/>
    <add key="UseWindowsIntegratedAuth" value="false"/>
  </appSettings>
  <VersionOne.APIClient.MimeTypes>
    <add extension=".bogus" mimetype="bogus/bogus"/>
    <add extension=".txt" mimetype="text/plain"/>
  </VersionOne.APIClient.MimeTypes>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
