<VersionOne.APIClient.MimeTypes>

	<!-- Typical documents -->
	<add extension=".eps" mimetype="application/postscript" />
	<add extension=".htm" mimetype="text/html" />
	<add extension=".html" mimetype="text/html" />
	<add extension=".log" mimetype="text/plain" />
	<add extension=".pdf" mimetype="application/pdf" />
	<add extension=".ps" mimetype="application/postscript" />
	<add extension=".rtf" mimetype="text/rtf" />
	<add extension=".txt" mimetype="text/plain" />
	<add extension=".xht" mimetype="text/xhtml+xml" />
	<add extension=".xhtml" mimetype="text/xhtml+xml" />
	<add extension=".xml" mimetype="text/xml" />
	
	<!-- Compressed -->
	<add extension=".gtar" mimetype="application/x-gtar" />
	<add extension=".gz" mimetype="application/x-gzip" />
	<add extension=".tgz" mimetype="application/x-compressed" />
	<add extension=".z" mimetype="application/x-compress" />
	<add extension=".zip" mimetype="application/zip" />

	<!-- Office Classic -->
	<add extension=".doc" mimetype="application/msword" />
	<add extension=".dot" mimetype="application/msword" />
	<add extension=".pot" mimetype="application/vnd.ms-powerpoint" />
	<add extension=".pps" mimetype="application/vnd.ms-powerpoint" />
	<add extension=".ppt" mimetype="application/vnd.ms-powerpoint" />
	<add extension=".xls" mimetype="application/vnd.ms-excel" />
	<add extension=".xlt" mimetype="application/vnd.ms-excel" />
	<add extension=".mpp" mimetype="application/vnd.ms-project" />
	<add extension=".pub" mimetype="application/vnd.ms-publisher" />

	<!-- Office 2007 -->
	<add extension=".docm" mimetype="application/vnd.ms-word.document.macroEnabled.12" />
	<add extension=".docx" mimetype="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
	<add extension=".dotm" mimetype="application/vnd.ms-word.template.macroEnabled.12" />
	<add extension=".dotx" mimetype="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />
	<add extension=".potm" mimetype="application/vnd.ms-powerpoint.template.macroEnabled.12" />
	<add extension=".potx" mimetype="application/vnd.openxmlformats-officedocument.presentationml.template" />
	<add extension=".ppam" mimetype="application/vnd.ms-powerpoint.addin.macroEnabled.12" />
	<add extension=".ppsm" mimetype="application/vnd.ms-powerpoint.slideshow.macroEnabled.12" />
	<add extension=".ppsx" mimetype="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
	<add extension=".pptm" mimetype="application/vnd.ms-powerpoint.presentation.macroEnabled.12" />
	<add extension=".pptx" mimetype="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
	<add extension=".xlam" mimetype="application/vnd.ms-excel.addin.macroEnabled.12" />
	<add extension=".xlsb" mimetype="application/vnd.ms-excel.sheet.binary.macroEnabled.12" />
	<add extension=".xlsm" mimetype="application/vnd.ms-excel.sheet.macroEnabled.12" />
	<add extension=".xlsx" mimetype="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
	<add extension=".xltm" mimetype="application/vnd.ms-excel.template.macroEnabled.12" />
	<add extension=".xltx" mimetype="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />

	<!-- Images -->
	<add extension=".bmp" mimetype="image/bmp" />
	<add extension=".dib" mimetype="image/x-ms-bmp" />
	<add extension=".gif" mimetype="image/gif" />
	<add extension=".ico" mimetype="image/vnd.microsoft.icon" />
	<add extension=".jpeg" mimetype="image/jpeg" />
	<add extension=".jpg" mimetype="image/jpeg" />
	<add extension=".png" mimetype="image/png" />
	<add extension=".svg" mimetype="image/svg+xml" />
	<add extension=".tif" mimetype="image/tiff" />
	<add extension=".tiff" mimetype="image/tiff" />

	<!-- Audio -->
	<add extension=".aif" mimetype="audio/x-aiff" />
	<add extension=".aiff" mimetype="audio/x-aiff" />
	<add extension=".au" mimetype="audio/basic" />
	<add extension=".flac" mimetype="audio/x-flac" />
	<add extension=".mid" mimetype="audio/mid" />
	<add extension=".mp3" mimetype="audio/mpeg" />
	<add extension=".ogg" mimetype="audio/ogg" />
	<add extension=".snd" mimetype="audio/basic" />
	<add extension=".wav" mimetype="audio/x-wav" />

	<!-- Video -->
	<add extension=".asf" mimetype="video/x-ms-asf" />
	<add extension=".avi" mimetype="video/x-msvideo" />
	<add extension=".mov" mimetype="video/quicktime" />
	<add extension=".mp2" mimetype="video/mpeg" />
	<add extension=".mp4" mimetype="video/mp4" />
	<add extension=".mpa" mimetype="video/mpeg" />
	<add extension=".mpeg" mimetype="video/mpeg" />
	<add extension=".mpg" mimetype="video/mpeg" />
	<add extension=".ogv" mimetype="video/ogg" />
	<add extension=".qt" mimetype="video/quicktime" />

</VersionOne.APIClient.MimeTypes>
