<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.1" targetFramework="net45" />
  <package id="FSharp.Data" version="1.1.10" targetFramework="net45" allowedVersions="[1.1.10,2)" />
  <package id="OAuth2Client" version="1.6.1.2571" targetFramework="net45" allowedVersions="[1.6,2)" />
  <package id="VersionOne.Parsers" version="1.1.0.0" targetFramework="net45" />
</packages>
